In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
target_df = pd.read_excel('CSUSHPISA.xls', skiprows = 10)
print(target_df)

    observation_date  CSUSHPISA
0         2002-01-01    117.142
1         2002-02-01    117.844
2         2002-03-01    118.686
3         2002-04-01    119.610
4         2002-05-01    120.723
..               ...        ...
235       2021-08-01    267.183
236       2021-09-01    270.225
237       2021-10-01    272.976
238       2021-11-01    276.189
239       2021-12-01    279.801

[240 rows x 2 columns]

In [3]:
target_df.set_index('observation_date', inplace=True)
target_df.index = pd.to_datetime(target_df.index)

In [4]:
target_df=target_df.resample('1M').mean()

In [5]:
effr_df=pd.read_excel('EFFR.xls', skiprows = 10)
print(effr_df)

     observation_date  EFFR
0          2002-01-02  1.92
1          2002-01-03  1.72
2          2002-01-04  1.61
3          2002-01-07  1.61
4          2002-01-08  1.61
...               ...   ...
5213       2021-12-27  0.08
5214       2021-12-28  0.08
5215       2021-12-29  0.08
5216       2021-12-30  0.08
5217       2021-12-31  0.07

[5218 rows x 2 columns]

In [6]:
#print(effr_df.columns)#['observation_date'])
effr_df.set_index('observation_date', inplace=True)
effr_df.index = pd.to_datetime(effr_df.index)
effr_df=effr_df.resample('1M').mean()

In [7]:
print(effr_df)

                      EFFR
observation_date
2002-01-31        1.671364
2002-02-28        1.745500
2002-03-31        1.726190
2002-04-30        1.758636
2002-05-31        1.682609
...                    ...
2021-08-31        0.093182
2021-09-30        0.075455
2021-10-31        0.075714
2021-11-30        0.072273
2021-12-31        0.079565

[240 rows x 1 columns]

In [8]:
gdp_df=pd.read_excel('GDP.xls', skiprows = 10)
print(gdp_df)

   observation_date        GDP
0        2002-01-01  10783.500
1        2002-04-01  10887.460
2        2002-07-01  10984.040
3        2002-10-01  11061.433
4        2003-01-01  11174.129
..              ...        ...
75       2020-10-01  21477.597
76       2021-01-01  22038.226
77       2021-04-01  22740.959
78       2021-07-01  23202.344
79       2021-10-01  24008.472

[80 rows x 2 columns]

In [9]:
gdp_enddate=pd.Series(pd.date_range("2021-11-30", freq="M", periods=2),dtype='datetime64[ns]',name='observation_date')
print(gdp_enddate)

0   2021-11-30
1   2021-12-31
Name: observation_date, dtype: datetime64[ns]

In [10]:
gdp_endgdp=pd.Series([np.nan,np.nan],dtype='float64',name='GDP')
print(gdp_endgdp)

0   NaN
1   NaN
Name: GDP, dtype: float64

In [11]:
gdp_dfend=pd.concat([gdp_enddate, gdp_endgdp],axis=1)
print(gdp_dfend)

  observation_date  GDP
0       2021-11-30  NaN
1       2021-12-31  NaN

In [12]:
gdp_df=pd.concat([gdp_df, gdp_dfend])
print(gdp_df)

   observation_date        GDP
0        2002-01-01  10783.500
1        2002-04-01  10887.460
2        2002-07-01  10984.040
3        2002-10-01  11061.433
4        2003-01-01  11174.129
..              ...        ...
77       2021-04-01  22740.959
78       2021-07-01  23202.344
79       2021-10-01  24008.472
0        2021-11-30        NaN
1        2021-12-31        NaN

[82 rows x 2 columns]

In [13]:
gdp_df.set_index('observation_date', inplace=True)
gdp_df.index = pd.to_datetime(gdp_df.index)

In [14]:
gdp_df=gdp_df.resample('1M').fillna(method='ffill')

In [15]:
gdp_df=gdp_df.fillna(method='ffill')

In [16]:
print(gdp_df)

                        GDP
observation_date
2002-01-31        10783.500
2002-02-28        10783.500
2002-03-31        10783.500
2002-04-30        10887.460
2002-05-31        10887.460
...                     ...
2021-08-31        23202.344
2021-09-30        23202.344
2021-10-31        24008.472
2021-11-30        24008.472
2021-12-31        24008.472

[240 rows x 1 columns]

In [17]:
hsn1f_df=pd.read_excel('HSN1F.xls', skiprows = 10)
print(hsn1f_df)

    observation_date  HSN1F
0         2002-01-01    880
1         2002-02-01    948
2         2002-03-01    923
3         2002-04-01    936
4         2002-05-01    978
..               ...    ...
235       2021-08-01    668
236       2021-09-01    725
237       2021-10-01    667
238       2021-11-01    749
239       2021-12-01    839

[240 rows x 2 columns]

In [18]:
hsn1f_df.set_index('observation_date', inplace=True)
hsn1f_df.index = pd.to_datetime(hsn1f_df.index)

In [19]:
hsn1f_df=hsn1f_df.resample('1M').mean()

In [20]:
print(hsn1f_df)

                  HSN1F
observation_date
2002-01-31        880.0
2002-02-28        948.0
2002-03-31        923.0
2002-04-30        936.0
2002-05-31        978.0
...                 ...
2021-08-31        668.0
2021-09-30        725.0
2021-10-31        667.0
2021-11-30        749.0
2021-12-31        839.0

[240 rows x 1 columns]

In [21]:
mort_df=pd.read_excel('MORTGAGE30US.xls', skiprows = 10)
print(mort_df)

     observation_date  MORTGAGE30US
0          2002-01-04          7.14
1          2002-01-11          7.06
2          2002-01-18          6.83
3          2002-01-25          6.96
4          2002-02-01          7.02
...               ...           ...
1039       2021-12-02          3.11
1040       2021-12-09          3.10
1041       2021-12-16          3.12
1042       2021-12-23          3.05
1043       2021-12-30          3.11

[1044 rows x 2 columns]

In [22]:
mort_df.set_index('observation_date', inplace=True)
mort_df.index = pd.to_datetime(mort_df.index)

In [23]:
mort_df=mort_df.resample('1M').mean()

In [24]:
print(mort_df)

                  MORTGAGE30US
observation_date
2002-01-31              6.9975
2002-02-28              6.8925
2002-03-31              7.0140
2002-04-30              6.9850
2002-05-31              6.8060
...                        ...
2021-08-31              2.8425
2021-09-30              2.9000
2021-10-31              3.0675
2021-11-30              3.0675
2021-12-31              3.0980

[240 rows x 1 columns]

In [25]:
msacr_df=pd.read_excel('MSACSR.xls', skiprows = 10)
print(msacr_df)

    observation_date  MSACSR
0         2002-01-01     4.2
1         2002-02-01     4.0
2         2002-03-01     4.1
3         2002-04-01     4.3
4         2002-05-01     4.0
..               ...     ...
235       2021-08-01     6.8
236       2021-09-01     6.3
237       2021-10-01     7.0
238       2021-11-01     6.3
239       2021-12-01     5.6

[240 rows x 2 columns]

In [26]:
msacr_df.set_index('observation_date', inplace=True)
msacr_df.index = pd.to_datetime(msacr_df.index)

In [27]:
msacr_df=msacr_df.resample('1M').mean()

In [28]:
print(msacr_df)

                  MSACSR
observation_date
2002-01-31           4.2
2002-02-28           4.0
2002-03-31           4.1
2002-04-30           4.3
2002-05-31           4.0
...                  ...
2021-08-31           6.8
2021-09-30           6.3
2021-10-31           7.0
2021-11-30           6.3
2021-12-31           5.6

[240 rows x 1 columns]

In [29]:
permit_df=pd.read_excel('PERMIT.xls', skiprows = 10)
print(permit_df)

    observation_date  PERMIT
0         2002-01-01    1665
1         2002-02-01    1787
2         2002-03-01    1691
3         2002-04-01    1669
4         2002-05-01    1716
..               ...     ...
235       2021-08-01    1721
236       2021-09-01    1586
237       2021-10-01    1653
238       2021-11-01    1717
239       2021-12-01    1885

[240 rows x 2 columns]

In [30]:
permit_df.set_index('observation_date', inplace=True)
permit_df.index = pd.to_datetime(permit_df.index)

In [31]:
permit_df=permit_df.resample('1M').mean()

In [32]:
print(permit_df)

                  PERMIT
observation_date
2002-01-31        1665.0
2002-02-28        1787.0
2002-03-31        1691.0
2002-04-30        1669.0
2002-05-31        1716.0
...                  ...
2021-08-31        1721.0
2021-09-30        1586.0
2021-10-31        1653.0
2021-11-30        1717.0
2021-12-31        1885.0

[240 rows x 1 columns]

In [33]:
pop_df=pd.read_excel('POPTHM.xls', skiprows = 10)
print(pop_df)

    observation_date  POPTHM
0         2002-01-01  286739
1         2002-02-01  286935
2         2002-03-01  287131
3         2002-04-01  287343
4         2002-05-01  287571
..               ...     ...
235       2021-08-01  332295
236       2021-09-01  332403
237       2021-10-01  332513
238       2021-11-01  332598
239       2021-12-01  332640

[240 rows x 2 columns]

In [34]:
pop_df.set_index('observation_date', inplace=True)
pop_df.index = pd.to_datetime(pop_df.index)

In [35]:
pop_df=pop_df.resample('1M').mean()

In [36]:
print(pop_df)

                    POPTHM
observation_date
2002-01-31        286739.0
2002-02-28        286935.0
2002-03-31        287131.0
2002-04-30        287343.0
2002-05-31        287571.0
...                    ...
2021-08-31        332295.0
2021-09-30        332403.0
2021-10-31        332513.0
2021-11-30        332598.0
2021-12-31        332640.0

[240 rows x 1 columns]

In [37]:
cons_df=pd.read_excel('TLRESCONS.xls', skiprows = 10)
print(cons_df)

    observation_date  TLRESCONS
0         2002-01-01     382979
1         2002-02-01     391434
2         2002-03-01     390942
3         2002-04-01     404255
4         2002-05-01     399164
..               ...        ...
235       2021-08-01     789620
236       2021-09-01     800118
237       2021-10-01     804575
238       2021-11-01     810487
239       2021-12-01     827621

[240 rows x 2 columns]

In [38]:
cons_df.set_index('observation_date', inplace=True)
cons_df.index = pd.to_datetime(cons_df.index)

In [39]:
cons_df=cons_df.resample('1M').mean()

In [40]:
print(cons_df)

                  TLRESCONS
observation_date
2002-01-31         382979.0
2002-02-28         391434.0
2002-03-31         390942.0
2002-04-30         404255.0
2002-05-31         399164.0
...                     ...
2021-08-31         789620.0
2021-09-30         800118.0
2021-10-31         804575.0
2021-11-30         810487.0
2021-12-31         827621.0

[240 rows x 1 columns]

In [41]:
unrate_df=pd.read_excel('UNRATE.xls', skiprows = 10)
print(unrate_df)

    observation_date  UNRATE
0         2002-01-01     5.7
1         2002-02-01     5.7
2         2002-03-01     5.7
3         2002-04-01     5.9
4         2002-05-01     5.8
..               ...     ...
235       2021-08-01     5.2
236       2021-09-01     4.7
237       2021-10-01     4.6
238       2021-11-01     4.2
239       2021-12-01     3.9

[240 rows x 2 columns]

In [42]:
unrate_df.set_index('observation_date', inplace=True)
unrate_df.index = pd.to_datetime(unrate_df.index)

In [43]:
unrate_df=unrate_df.resample('1M').mean()

In [44]:
print(unrate_df)

                  UNRATE
observation_date
2002-01-31           5.7
2002-02-28           5.7
2002-03-31           5.7
2002-04-30           5.9
2002-05-31           5.8
...                  ...
2021-08-31           5.2
2021-09-30           4.7
2021-10-31           4.6
2021-11-30           4.2
2021-12-31           3.9

[240 rows x 1 columns]

In [45]:
hcai_df = pd.read_excel('HCAI.xlsx', sheet_name = 0, skiprows = 3 , usecols = "A,D") #take only columns we need
hcai_df.drop(hcai_df.index[0:16],inplace=True)#inplace changes the dataframe the function is applied to and returns None so don't reassign.
#dropping years and quarters before the 20 year period. .index returns list of row indices
#print(hcai_df.shape[0])#getting new total number of rows
new_idx=[i for i in range(0,hcai_df.shape[0]+1)]#list of new row index numbers
#hcai_df=hcai_df.reindex(new_idx)
hcai_df.rename(index = lambda x: x - 16,inplace=True)#rename the row indices so they start from 0 instead of the offset 16 which happened on dropping the first 15 entries
print(hcai_df)

       Year Total\nRisk
0      2002   12.210572
1      2002   12.334477
2      2002   12.162916
3      2002   12.013804
4      2003   12.258474
..      ...         ...
74     2020    4.989182
75     2020    5.081624
76  2021 Q1    5.124921
77  2021 Q2    5.144927
78  2021 Q3    5.169036

[79 rows x 2 columns]